packages/msm/msm_core/msm_dao/helper/cache_files/*
packages/msm/utils/uploaded/user_data_agents/NLDASAgent/downloads/*
packages/msm/utils/uploaded/user_data_agents/NCALDASAgent/downloads/*
packages/msm/utils/uploaded/user_data_agents/DEMAgent/downloads/*
packages/CLTools/*.pyc
packages/URL/*.pyc
packages/controlflow/*.pyc
packages/dialogs/*.pyc
packages/matplotlib/*.pyc
packages/gmaps/*.pyc
packages/mongodb/*.pyc
packages/vtk/**/*.pyc
packages/tej/*.pyc
packages/spreadsheet/**/*.pyc
packages/tabledata/**/*.pyc
packages/sql/*.pyc
packages/pythonCalc/*.pyc
packages/persistent_archive/*.pyc
tests/*.pyc
api/**/*.pyc
core/**/*.pyc
db/**/*.pyc
gui/**/*.pyc
**/__init__.pyc