packages/msm/msm_core/msm_dao/helper/cache_files/*
packages/msm/utils/uploaded/user_data_agents/NLDASAgent/downloads/*
packages/msm/utils/uploaded/user_data_agents/NCALDASAgent/downloads/*
packages/msm/utils/uploaded/user_data_agents/DEMAgent/downloads/*
api/**/*.pyc
core/**/*.pyc
db/**/*.pyc
gui/**/*.pyc
**/__init__.pyc